# Git repository metadata
.git
.github

# Build artifacts & cache
target/

# Development environment / Nix configs
.direnv/
.envrc
result/
flake.nix
flake.lock
clippy.toml
deny.toml

# Database files
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Secrets & credentials (CRITICAL)
*.pem
.env

# Local container definitions
docker-compose.yaml
