# Environment variables for development
#
# Copy this file into the same folder as `.env`,
# and insert your secrets there.
# You may also want to change other configuration settings,
# like the user agent or the database URL.
#
# You probably would want to reassign the folder of `RELAY__AUTH__PEM_PATH`
# if you're not running on a container.

# Server
RELAY__SERVER__ADDRESS=0.0.0.0:3000
RELAY__SERVER__USER_AGENT=nilirad-relay-server
RELAY__SERVER__IN_REQUEST_TIMEOUT=30s
RELAY__SERVER__OUT_REQUEST_TIMEOUT=30s

# Database
RELAY__DATABASE__URL=sqlite://relay.db?mode=rwc
RELAY__DATABASE__TIMEOUT=3s
RELAY__DATABASE__POLLING_DB_BUFFER_SIZE=3
RELAY__DATABASE__POLLING_DB_ERROR_COOLDOWN=300s
RELAY__DATABASE__SUBSCRIPTIONS_LIST_LIMIT=50
RELAY__DATABASE__SUBSCRIPTIONS_LIST_LIMIT_CAP=100

# GitHub API
RELAY__GITHUB_API__BASE_URL=https://api.github.com
RELAY__GITHUB_API__VERSION=2026-03-10
RELAY__GITHUB_API__ACCEPT_HEADER=application/vnd.github+json

# Engine
RELAY__ENGINE__POLLING_SLEEP=300s
RELAY__ENGINE__TRIGGER_QUEUE_POLLING_INTERVAL=5s
RELAY__ENGINE__TRIGGER_RETRY_MAX_ATTEMPTS=10
RELAY__ENGINE__TRIGGER_RETRY_BACKOFF_BASE=10s
RELAY__ENGINE__STUCK_TASK_THRESHOLD=300s

# Auth
RELAY__AUTH__CLOCK_DRIFT_BUFFER=60s
RELAY__AUTH__TOKEN_VALIDITY=300s
# RELAY__AUTH__API_KEY=YOUR_API_KEY
# RELAY__AUTH__ALLOW_UNAUTHENTICATED=true
RELAY__AUTH__CLIENT_ID=YOUR_GITHUB_CLIENT_ID
RELAY__AUTH__PEM_PATH=/app/data/YOUR_PEM_FILE.pem
