services:
  relay:
    build:
      context: .
      dockerfile: Dockerfile
    image: nilirad/relay:latest
    container_name: relay-server
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - relay_data:/app/data
      - ./YOUR_PEM_FILE.pem:/app/data/YOUR_PEM_FILE.pem:ro
    env_file:
      - .env
    develop:
      watch:
        - action: rebuild
          path: src/
        - action: rebuild
          path: Cargo.toml
        - action: rebuild
          path: Cargo.lock

volumes:
  relay_data:
