services:
  commit-bridge:
    build:
      context: .
      dockerfile: Dockerfile
    image: nilirad/commit-bridge:latest
    container_name: commit-bridge-server
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - commit_bridge_data:/app/data
      - ./YOUR_PEM_FILE.pem:/app/data/YOUR_PEM_FILE.pem:ro
    env_file:
      - .env
    develop:
      watch:
        - action: rebuild
          path: src/
        - action: rebuild
          path: Cargo.toml
        - action: rebuild
          path: Cargo.lock

volumes:
  commit_bridge_data:
